html, body {
    height: 100%;
}

body {
    background: #161a25;
}

.container {
    height: 100%;
    max-width: 500px;
}

.panel {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
}